.postMainDiv{
    position: relative;
    display: grid;
    margin-top: 0;
    width: 90%;
    height: max-content;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 5px;
}
.postContentDiv{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}
.nameUserPost{
    margin-top: 0;
    margin-bottom: 0;
}
.timeCreateAt{
    margin-top: 0;
    font-size: 12px;
}
.textPost{
    margin-top: 0;
}
.buttonsPostDiv{
    display: flex;
}
.buttonDiv{
    width: 60px;
    height: 32px;
    border-radius: 16px;
    background-color: #edeff0;
    cursor: pointer;
}
.buttonContentDiv{
    display: flex;
    align-items: center;
    width: 40px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.buttonPostPhoto{
    height: 24px;
    width: 24px;
}
.buttonPostCounter{
    width: 16px;
    height: 24px;
    text-align: center;
}
.topPostDiv{
    display: flex;
}
.deletePostImg{
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}
.commentsMainDiv{
    position: relative;
    display: grid;
    margin-top: 0;
    width: 90%;
    height: max-content;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 20px;
}
#commentInput{
    width: 80%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
#writeCommentDiv{
    display: flex;
    align-items: center;
}
#createCommentImg{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#writeCommentPhoto{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
