body{
    background-color: #edeff0;
}
#userPageMainDiv{
    display: grid;
    position: relative;
    grid-template-columns: 20% 80%;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}