#userPageMainDiv{
    display: grid;
    position: relative;
    grid-template-columns: 20% 80%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    min-width: 350px;
}