#mainFeedPageDiv{
    position: relative;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    min-width: 350px;
}
#titleFeedPageDiv{
    box-shadow: 0.5px 5px 5px 5px rgba(0,0,0,0.22);
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}
#titleTextFeedPage{
    padding: 10px;
    height: 40px;
    text-align: center;
}